<div class="<%= locals.calName %> cal">
  <% const thisMonth = new Date().getMonth() %>
  <% if (thisMonth === 10) { %> 
    <div class="monthYear">
        <h2 class="month">November</h2>
        <h2 class="year">2022</h2>
    </div>
     <table>
       <thead>
         <tr>
           <td>S</td>
           <td>M</td>
           <td>T</td>
           <td>W</td>
           <td>T</td>
           <td>F</td>
           <td>S</td>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td></td>
           <td></td>
           <td id="day1">1</td>
           <td id="day2">2</td>
           <td id="day3">3</td>
           <td id="day4">4</td>
           <td id="day5">5</td>
         </tr>
         <tr>
           <td id="day6">6</td>
           <td id="day7">7</td>
           <td id="day8">8</td>
           <td id="day9">9</td>
           <td id="day10">10</td>
           <td id="day11">11</td>
           <td id="day12">12</td>
         </tr>
         <tr>
           <td id="day13">13</td>
           <td id="day14">14</td>
           <td id="day15">15</td>
           <td id="day16">16</td>
           <td id="day17">17</td>
           <td id="day18">18</td>
           <td id="day19">19</td>
         </tr>
         <tr>
           <td id="day20">20</td>
           <td id="day21">21</td>
           <td id="day22">22</td>
           <td id="day23">23</td>
           <td id="day24">24</td>
           <td id="day25">25</td>
           <td id="day26">26</td>
         </tr>
         <tr>
           <td id="day27">27</td>
           <td id="day28">28</td>
           <td id="day29">29</td>
           <td id="day30">30</td>
           <td></td>
           <td></td>
           <td></td>
         </tr>
         <tr>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
         </tr>
       </tbody>
     </table>
     <% } else { %>
      <div class="monthYear">
        <h2 class="month">December</h2>
        <h2 class="year">2022</h2>
    </div>
     <table>
       <thead>
         <tr>
           <td>S</td>
           <td>M</td>
           <td>T</td>
           <td>W</td>
           <td>T</td>
           <td>F</td>
           <td>S</td>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td id="day1">1</td>
           <td id="day2">2</td>
           <td id="day3">3</td>
         </tr>
         <tr>
           <td id="day4">4</td>
           <td id="day5">5</td>
           <td id="day6">6</td>
           <td id="day7">7</td>
           <td id="day8">8</td>
           <td id="day9">9</td>
           <td id="day10">10</td>
         </tr>
         <tr>
           <td id="day11">11</td>
           <td id="day12">12</td>
           <td id="day13">13</td>
           <td id="day14">14</td>
           <td id="day15">15</td>
           <td id="day16">16</td>
           <td id="day17">17</td>
         </tr>
         <tr>
           <td id="day18">18</td>
           <td id="day19">19</td>
           <td id="day20">20</td>
           <td id="day21">21</td>
           <td id="day22">22</td>
           <td id="day23">23</td>
           <td id="day24">24</td>
         </tr>
         <tr>
           <td id="day25">25</td>
           <td id="day26">26</td>
           <td id="day27">27</td>
           <td id="day28">28</td>
           <td id="day29">29</td>
           <td id="day30">30</td>
           <td id="day31">31</td>
         </tr>
         <tr>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
         </tr>
       </tbody>
     </table>
     <% } %> 
 </div>
 <script type="text/javascript">
  const <%= locals.calName %> = () => {
  const thisDay = new Date().getDate();
  const calParent = document.querySelector(".<%= locals.calName %>");
  calParent.querySelector(`#day${thisDay}`).style.color = "orange";
  }
  <%= locals.calName %>();
  setInterval(<%= locals.calName %>, 10000)

 </script>