<head>
  <link rel="stylesheet" href="/public/css/mirrorstyles.css" />
</head>
<body>
  <div class="mirrorColumn">
    <div id="position1" class="mirrorBlock">
      <% if (locals.mirror.position1 !== "none") { %>
        <%- include(`./partials/_${locals.mirror.position1}Module.ejs`, {clockName: "position1Clock", diagName: "position1Diag", calName: "position1Cal", weatherName: "position1Weather", xmasName: "position1Xmas", historyName: "position1History", nflName: "position1Nfl"}) %>
        <% }; %>
    </div>
    <div id="position2" class="mirrorBlock">
      <% if (locals.mirror.position2 !== "none") { %>
        <%- include(`./partials/_${locals.mirror.position2}Module.ejs`, {clockName: "position2Clock", diagName: "position2Diag", calName: "position2Cal", weatherName: "position2Weather", xmasName: "position2Xmas", historyName: "position2History", nflName: "position2Nfl"}) %>
        <% }; %>
    </div>
    <div id="position3" class="mirrorBlock">
      <% if (locals.mirror.position3 !== "none") { %>
        <%- include(`./partials/_${locals.mirror.position3}Module.ejs`, {clockName: "position3Clock", diagName: "position3Diag", calName: "position3Cal", weatherName: "position3Weather", xmasName: "position3Xmas", historyName: "position3History", nflName: "position3Nfl"}) %>
        <% }; %>
    </div>
  </div>
  <div class="mirrorColumn">
    <div id="position4" class="mirrorBlock">
      <% if (locals.mirror.position4 !== "none") { %>
        <%- include(`./partials/_${locals.mirror.position4}Module.ejs`, {clockName: "position4Clock", diagName: "position4Diag", calName: "position4Cal", weatherName: "position4Weather", xmasName: "position4Xmas", historyName: "position4History", nflName: "position4Nfl"}) %>
        <% }; %>
    </div>
    <div id="middleBlank" class="mirrorBlock"></div>
    <div id="position5" class="mirrorBlock">
      <% if (locals.mirror.position5 !== "none") { %>
        <%- include(`./partials/_${locals.mirror.position5}Module.ejs`, {clockName: "position5Clock", diagName: "position5Diag", calName: "position5Cal", weatherName: "position5Weather", xmasName: "position5Xmas", historyName: "position5History", nflName: "position5Nfl"}) %>
        <% }; %>
    </div>
  </div>
  <div class="mirrorColumn">
    <div id="position6" class="mirrorBlock">
      <% if (locals.mirror.position6 !== "none") { %>
        <%- include(`./partials/_${locals.mirror.position6}Module.ejs`, {clockName: "position6Clock", diagName: "position6Diag", calName: "position6Cal", weatherName: "position6Weather", xmasName: "position6Xmas", historyName: "position6History", nflName: "position6Nfl"}) %>
        <% }; %>
    </div>
    <div id="position7" class="mirrorBlock">
      <% if (locals.mirror.position7 !== "none") { %>
        <%- include(`./partials/_${locals.mirror.position7}Module.ejs`, {clockName: "position7Clock", diagName: "position7Diag", calName: "position7Cal", weatherName: "position7Weather", xmasName: "position7Xmas", historyName: "position7History", nflName: "position7Nfl"}) %>
        <% }; %>
    </div>
    <div id="position8" class="mirrorBlock">
      <% if (locals.mirror.position8 !== "none") { %>
        <%- include(`./partials/_${locals.mirror.position8}Module.ejs`, {clockName: "position8Clock", diagName: "position8Diag", calName: "position8Cal", weatherName: "position8Weather", xmasName: "position8Xmas", historyName: "position8History", nflName: "position8Nfl"}) %>
        <% }; %>
    </div>
  </div>
  

</body>
